.headerBorder{
    border: 1px solid rgba(168, 168, 168, 0.432);
}

.header{
    margin-left: auto;
    margin-right: auto;

    max-width: 1000px;
    height: 50px;
    
    display: grid;
    grid-column: 1fr 1fr 1fr;
    grid-template-areas: 
    "name search header_icons";
    background-color: #fff;
}

.name{
    grid-area: 'name';
    margin-left: 10px;
    font-size: 32px;
    margin-top: 5%;
    margin-bottom: auto;
    margin-left: 10px;
}
.search{
    grid-area: 'search';
    margin: auto;
    background-color: #e7e7e744;
}
.header_icons{
    grid-area: 'header_icons';
    margin: auto;
    margin-right: 0px;
}

.header_icons img{
    height: 23px;
    margin-right: 20px;
}
.avatar{ 
    border-radius: 100px;
}

.search_input{
    height: 23px;
    width: 200px;
    text-align: center;
    border: 1px solid;
    
    border-color: rgba(179, 179, 179, 0.342);
    background-image: url(../../icons/searching_glass.png) 15px 15px no-repeat;
}